<% @houses.each do |house| %>
  <h2><%= house.name %></h2>
  <p>
    There <%= house.students.count == 1 ? 'is' : 'are' %>
    <%= pluralize house.students.count, 'student' %> in this house.
  </p>
  <p>
    They have acculumated <%= pluralize house.points, 'point'%>.
  </p>
  <p>
  For more details visit the <%= link_to house.name, house %> page.
  </p>
<% end %>
