<h2><%= @house.name %></h2>
<p>
  There <%= @house.students.count == 1 ? 'is' : 'are' %>
  <%= pluralize @house.students.count, 'student' %> in this house.
</p>
<p>
  They have acculumated <%= pluralize @house.points, 'point' %>.
</p>

<h3>Students</h3>

<ul>
  <% @house.students.each do |student| %>
    <li><%= student.name %></li>
  <% end %>
</ul>
